<h1>New article</h1>
<div style="color: red; font-size: large">Step 2: Enter some text and click create.</div>
<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Back to articles", articles_path %>
</div>
